In [16]:
Record={
    100:{"Name":"Apple" ,"Brand":"Kashmiri" ,"ExpiryDate":"1 month" ,"Quantity":100 ,"Price":15},
    101:{"Name":"Milk" ,"Brand":"Amul" ,"ExpiryDate":"4 days" ,"Quantity":50 ,"Price":40},
    102:{"Name":"Sugar" ,"Brand":"Sanjivani" ,"ExpiryDate":"1 year" ,"Quantity":150 ,"Price":45},
    103:{"Name":"Cadburry" ,"Brand":"5 star" ,"ExpiryDate":"6 months" ,"Quantity":100 ,"Price":10},
    104:{"Name":"Bread" ,"Brand":"Brown" ,"ExpiryDate":"1 week" ,"Quantity":70 ,"Price":25},
    105:{"Name":"Rice" ,"Brand":"Basmati" ,"ExpiryDate":"2 year" ,"Quantity":200 ,"Price":60},
    106:{"Name":"wheat" ,"Brand":"Brown Wheat" ,"ExpiryDate":"3 year" ,"Quantity":250 ,"Price":65},
    107:{"Name":"egg" ,"Brand":"Gaavran" ,"ExpiryDate":"1 month" ,"Quantity":175 ,"Price":6},
    108:{"Name":"Oil" ,"Brand":"Gemini" ,"ExpiryDate":"3 month" ,"Quantity":30 ,"Price":105},
    109:{"Name":"Soap" ,"Brand":"santoor" ,"ExpiryDate":"5 year" ,"Quantity":100 ,"Price":20},
    110:{"Name":"washing Powder" ,"Brand":"Rin" ,"ExpiryDate":"1 year" ,"Quantity":120 ,"Price":30},
    111:{"Name":"Toothpaste" ,"Brand":"colgate" ,"ExpiryDate":"1 year" ,"Quantity":400 ,"Price":60},
    112:{"Name":"Sanitizer" ,"Brand":"Sanjivani" ,"ExpiryDate":"3 month" ,"Quantity":50 ,"Price":150},
    113:{"Name":"Brush" ,"Brand":"Colgate" ,"ExpiryDate":"10 year" ,"Quantity":100 ,"Price":25},
    114:{"Name":"Tea Powder" ,"Brand":"Red Rabel" ,"ExpiryDate":"2 year" ,"Quantity":70 ,"Price":55},
    115:{"Name":"Ice Cream" ,"Brand":"Amul" ,"ExpiryDate":"2 month" ,"Quantity":140 ,"Price":25},
    116:{"Name":"Books" ,"Brand":"Navneeth" ,"ExpiryDate":"None" ,"Quantity":100 ,"Price":40},
    117:{"Name":"Chips" ,"Brand":"Balaji" ,"ExpiryDate":"6 month" ,"Quantity":150 ,"Price":10},
    118:{"Name":"Cadburry" ,"Brand":"Dairy Milk" ,"ExpiryDate":"6 months" ,"Quantity":100 ,"Price":10},
    119:{"Name":"pen" ,"Brand":"Montex" ,"ExpiryDate":"None" ,"Quantity":140 ,"Price":10},
    120:{"Name":"Tshirt" ,"Brand":"polo" ,"ExpiryDate":"None" ,"Quantity":140 ,"Price":5000},
    121:{"Name":"UnderWear" ,"Brand":"DixcyScotts" ,"ExpiryDate":"None" ,"Quantity":200 ,"Price":100},
    122:{"Name":"Vinegar" ,"Brand":"Apple" ,"ExpiryDate":"2 year" ,"Quantity":45 ,"Price":80},
    123:{"Name":"Chocolate" ,"Brand":"Falero" ,"ExpiryDate":"1 year" ,"Quantity":400 ,"Price":2},
    124:{"Name":"Biscuit" ,"Brand":"ParleG" ,"ExpiryDate":"2 year" ,"Quantity":500 ,"Price":10},
    125:{"Name":"Laptop" ,"Brand":"Acer" ,"ExpiryDate":"None" ,"Quantity":150 ,"Price":50000},
    126:{"Name":"Fan" ,"Brand":"Usha" ,"ExpiryDate":"None" ,"Quantity":200 ,"Price":1000},
    127:{"Name":"Mouse" ,"Brand":"Hp" ,"ExpiryDate":"None" ,"Quantity":150 ,"Price":100},
    128:{"Name":"Powder" ,"Brand":"Ponds" ,"ExpiryDate":"2 year" ,"Quantity":100 ,"Price":50},
    129:{"Name":"Soap" ,"Brand":"LifeBuoy" ,"ExpiryDate":"1 year" ,"Quantity":120 ,"Price":45},
    130:{"Name":"Gel" ,"Brand":"ponds" ,"ExpiryDate":"1 year" ,"Quantity":500 ,"Price":40}
}

In [17]:
import pandas as pd
df = pd.DataFrame(Record)

In [18]:
df

,100,101,102,103,104,105,106,107,108,109,...,121,122,123,124,125,126,127,128,129,130
Name,Apple,Milk,Sugar,Cadburry,Bread,Rice,wheat,egg,Oil,Soap,...,UnderWear,Vinegar,Chocolate,Biscuit,Laptop,Fan,Mouse,Powder,Soap,Gel
Brand,Kashmiri,Amul,Sanjivani,5 star,Brown,Basmati,Brown Wheat,Gaavran,Gemini,santoor,...,DixcyScotts,Apple,Falero,ParleG,Acer,Usha,Hp,Ponds,LifeBuoy,ponds
ExpiryDate,1 month,4 days,1 year,6 months,1 week,2 year,3 year,1 month,3 month,5 year,...,None,2 year,1 year,2 year,None,None,None,2 year,1 year,1 year
Quantity,100,50,150,100,70,200,250,175,30,100,...,200,45,400,500,150,200,150,100,120,500
Price,15,40,45,10,25,60,65,6,105,20,...,100,80,2,10,50000,1000,100,50,45,40

In [41]:
prod_id=int(input("Enter product id"))
prod_quant=int(input("Enter Quantity"))
if(df[prod_id]["Quantity"]>=prod_quant):
        df[prod_id]["Quantity"]-=prod_quant
else:
    print("put small value")
    
price= df[prod_id]["Price"]

Enter product id105
Enter Quantity10

In [42]:
print("********** Thank You For Shopping ************")
print()
print("Product Name                     :",df[prod_id]["Name"])
print("Product Quantity                 :",prod_quant)
print("Expiry Date of Product           :",df[prod_id]["ExpiryDate"])
print("Price of Product single Product  :",df[prod_id]["Price"])
print()
print("********** ********** ********** ************")
print("\t\t\t Total Bill =",price*prod_quant)

********** Thank You For Shopping ************

Product Name                     : Rice
Product Quantity                 : 10
Expiry Date of Product           : 2 year
Price of Product single Product  : 60

********** ********** ********** ************
			 Total Bill = 600

In [43]:
df.to_csv("Record.csv")